@model PuraFama.Models.cliente

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro que deseas eliminar esto?</h3>
<div>
    <h4>Cliente</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gastos_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gastos_cliente)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
