@model IEnumerable<PuraFama.Models.venta>

@{
    ViewBag.Title = "Venta";
}

<h2>Venta</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_venta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rut_cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_servicio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_venta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rut_cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_servicio)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Detalles", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
