@model PuraFama.Models.venta

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Venta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cliente.nombre_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente.nombre_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.servicio.nombre_servicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servicio.nombre_servicio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_venta }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
