@model PuraFama.Models.vendedor

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Vendedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_vendedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_vendedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sueldo_vendedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sueldo_vendedor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.rut_vendedor }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
