@model IEnumerable<PuraFama.Models.vendedor>

@{
    ViewBag.Title = "Index";
}

<h2>Inicio</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_vendedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sueldo_vendedor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_vendedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sueldo_vendedor)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.rut_vendedor }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.rut_vendedor }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.rut_vendedor })
        </td>
    </tr>
}

</table>
