@model PuraFama.Models.usuario

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.potencial_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.potencial_usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_usuario }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
