@model IEnumerable<PuraFama.Models.servicio>

@{
    ViewBag.Title = "Index";
}

<h2>Inicio</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_servicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio_servicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proveedor.nombre_proveedor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_servicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio_servicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.proveedor.nombre_proveedor)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_servicio }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_servicio }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id_servicio })
        </td>
    </tr>
}

</table>
